.cartList {
	display: grid;
	max-width: 1000px;
	grid-template-columns: auto;
	align-items: center;
	padding-left: 70px;
	padding-right: 70px;
	margin: 0 auto;
	margin-top: 10px;
}

.isEmptyWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-top: 60px;
}

.goHomeBtn {
	width: 80px;
	height: 32px;
	margin-top: 10px;
	background-color: rgb(189, 255, 198);
	border: 0.5px solid rgb(117, 117, 117);
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.6s, transform 0.5s;
}

.goHomeBtn:hover {
	background-color: rgb(108, 253, 127);
	transform: scale(110%);
}

.inCart {
	display: grid;
	grid-template-columns: 3.2fr 1.5fr;
	align-items: center;
	row-gap: 0;
	column-gap: 10px;
	margin: -1px 0px 0px 0px;
	border-top: 2px solid black;
	padding-left: 10px;
	padding-right: 10px;
}

.inCart a {
	margin-left: 90px;
}

.inCart button {
	width: 110px;
}

.cartItemWrappper {
	display: grid;
	grid-template-columns: auto 3fr 0.5fr 1fr;
	align-items: center;
	row-gap: 0;
	column-gap: 10px;
	margin: -1px 0px 0px 0px;
	border: 1px solid rgb(208, 208, 208);
	padding-left: 10px;
	padding-right: 10px;
}

.cartCover {
	display: flex;
	align-items: center;
}

.cartTitle {
	font-size: 14px;
}

.cartPrice {
	text-align: center;
	font-weight: 600;
}

.cartPcsBlock {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
	font-size: 12px;
}

.cartPcsBlock input::-webkit-outer-spin-button,
.cartPcsBlock input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.cartPcsBlock input {
	height: 32px;
	width: 32px;
	text-align: center;
	font-family: inherit;
}

.cartPcsBlock button {
	border-radius: 50%;
	background-color: rgb(189, 255, 198);
	border: 0.5px solid rgb(117, 117, 117);
	width: 24px;
	height: 24px;
}

.cartBtns {
	display: flex;
	justify-content: right;
}

.cartBtnCart {
	width: 80px;
	height: 32px;
	margin-right: 40px;
	margin-top: 10px;
	background-color: rgb(189, 255, 198);
	border: 0.5px solid rgb(117, 117, 117);
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.6s, transform 0.5s;
}

.cartBtnCart:hover {
	background-color: rgb(108, 253, 127);
	transform: scale(110%);
}

.totalPrice {
	display: grid;
	grid-template-columns: 3.2fr 0.5fr 1fr;
	align-items: center;
	row-gap: 0;
	column-gap: 10px;
	margin: -1px 0px 0px 0px;
	border-top: 2px solid black;
	padding-left: 10px;
	padding-right: 10px;
}

.totalPriceNum {
	text-align: center;
	font-weight: 600;
}

.totalPriceTitle{
	text-align: right;
	font-size: 16px;
	font-weight: 600;
}

.payBtn {
	width: 110px;
	height: 32px;
	margin-left: 0;
	background-color: rgb(189, 255, 198);
	border: 0.5px solid rgb(117, 117, 117);
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.6s, transform 0.5s;
}

.payBtn:hover {
	background-color: rgb(108, 253, 127);
	transform: scale(110%);
}

/* pay modal window */

.payModalBgr {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color:rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	padding-top: 150px;
}

.payModalWindow {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
	width: 350px;
	height: 250px;
	background-color: #fff;
	border-radius: 5px;
}

.payModalWindow p {
	text-align: center;
}

.logoModalWindow {
	margin: 0 auto;
	position: relative;
	height: 70px;
	width: 70px;
}

.payModalWindow button {
	width: 80px;
	height: 32px;
	margin: 0 auto;
	background-color: rgb(189, 255, 198);
	border: 0.5px solid rgb(117, 117, 117);
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.6s, transform 0.5s;
}