@import 'vars';
@import 'mixins';

//Props (Wrappers)

.filtersWrapper {
	display: flex;
	justify-content: flex-start;
	gap: 30px;
	flex-wrap: wrap;
	margin-left: 80px;
	margin-top: 20px;
}

.booksWrapper {
	display: flex;
	justify-content: center;
	max-width: auto;
}

//Props (Card view)

.cardView {
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-wrap: wrap;
	max-width: auto;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 16px;
	padding: 16px;
	text-align: left;
	text-decoration: none;
	border: 1px solid @wrap-border-color;
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease, transform 0.3s;
	max-width: 300px;
	&:hover {
		background-color:@tertiary-green;
		border-color: @btns-border-color;
		cursor: pointer;
		transform: scale(102%);
	}
	.cardDescription {
		display: flex;
		flex-direction: column;
		justify-content: stretch;
		h3 {
			margin: 10px;
			height: 69px;
		}
		p {
			margin: 5px;
		}
		.genre {
			font-size: 10px;
		}
		.author {
			display: flex;
			justify-content: flex-start;
			align-items:flex-end;
			p:nth-child(2) {
				font-size: 11px;
				margin: 5px;
				padding: 0;
			}
		}
		.price {
			font-weight: 600;
			font-size: 19px;
		}
		.buyBlock {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.cardPcsBlock {
				display: flex;
				justify-content: space-around;
				align-items: center;
				gap: 5px;
				font-size: 12px;
				input {
					height: 32px;
					width: 32px;
					text-align: center;
					font-family: inherit;
				}
				button {
					border-radius: 50%;
					background-color: @primary-green;
					border: 0.5px solid @btns-border-color;
					width: 24px;
					height: 24px;
				}
				span {
					font-size: 10px;
					margin-left: 5px;
				}
			}
			button {
				.btns-mix(@primary-green; @secondary-green;);
				width: 80px;
				height: 32px;
			}
		}
	}
}

//Props (List view)

.listView {
	max-width: 1440px;
	min-width: 320px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	.lineItem {
		display: grid;
		grid-template-columns: auto 5fr;
		gap: 10px;
		margin: -1px 80px 0px 80px;
		border: 1px solid @wrap-border-color;
		padding-left: 10px;
		padding-right: 10px;
		.coverLine {
			display: flex;
			align-items: center;
		}
		.lineDescription {
			display: grid;
			grid-template-columns: 4fr 1.5fr 1fr 0.5fr 1.5fr 0.5fr;
			align-items: center;
			row-gap: 0;
			column-gap: 10px;
			.lineTitle {
				font-size: 16px;
				margin: 0px;
			}
			.lineAuthor {
				font-size: 14px;
				font-weight: 600;
				margin-top: 5px;
				margin-bottom: 5px;
				& + p {
					font-size: 12px;
					margin-top: 5px;
					margin-bottom: 5px;
				}
			}
			.lineGenre {
				font-size: 12px;
			}
			.linePrice {
				font-weight: 600;
				white-space: nowrap;
			}
			.linePcsBlock {
				display: flex;
				justify-content: space-around;
				align-items: center;
				gap: 5px;
				font-size: 12px;
				input {
					height: 32px;
					width: 32px;
					text-align: center;
					font-family: inherit;
				}
				button {
					border-radius: 50%;
					background-color: @primary-green;
					border: 0.5px solid @btns-border-color;
					width: 24px;
					height: 24px;
				}
			}
			.lineBuyBtn {
				.btns-mix(@primary-green; @secondary-green;);
				width: 80px;
				height: 32px;
				margin-left: auto;
			}
		}
	}
}