.popoverList {
	display: grid;
	grid-template-columns: auto;
	align-items: center;
}

.popoverItemWrapper {
	display: grid;
	grid-template-columns: auto 3fr 0.5fr 1fr;
	align-items: center;
	row-gap: 0;
	column-gap: 10px;
	margin: -1px 0px 0px 0px;
	border: 1px solid rgb(208, 208, 208);
	padding-left: 10px;
	padding-right: 10px;
}

.popoverCover {
	display: flex;
	align-items: center;
}

.popoverTitle {
	font-size: 14px;
}

.popoverPrice {
	text-align: center;
	font-weight: 600;
	white-space: nowrap;
}

.popoverPcsBlock {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 5px;
	font-size: 12px;
}

.popoverPcsBlock input::-webkit-outer-spin-button,
.popoverPcsBlock input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.popoverPcsBlock input {
	height: 32px;
	width: 32px;
	text-align: center;
	font-family: inherit;
}

.popoverPcsBlock button {
	border-radius: 50%;
	background-color: rgb(189, 255, 198);
	border: 0.5px solid rgb(117, 117, 117);
	width: 24px;
	height: 24px;
}

.popoverBtns {
	display: flex;
	justify-content: right;
}

.popoverBtnCart {
	width: 80px;
	height: 32px;
	margin-right: 40px;
	margin-top: 10px;
	background-color: rgb(189, 255, 198);
	border: 0.5px solid rgb(117, 117, 117);
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.6s, transform 0.5s;
}

.popoverBtnCart:hover {
	background-color: rgb(108, 253, 127);
	transform: scale(110%);
}